<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine On  
  
	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteCond %{SCRIPT_FILENAME} !-f

	RewriteRule ^(.*)$ /api/v1/api.php?request=$1  [L,NC,QSA]
</IfModule>
