.regime_part {
    margin-bottom: 15px;
}
.regime_part:last-child {
    margin-bottom: 0;
}
.regime_part > span {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 4px 4px;
    width: 32px;
    text-align: center;
    cursor: pointer;
}
.regime_part > span.active {
    background-color: #ffeba0;
}
.regime_part > span.dw0:after {content: 'пн';}
.regime_part > span.dw1:after {content: 'вт';}
.regime_part > span.dw2:after {content: 'ср';}
.regime_part > span.dw3:after {content: 'чт';}
.regime_part > span.dw4:after {content: 'пт';}
.regime_part > span.dw5:after {content: 'сб';}
.regime_part > span.dw6:after {content: 'вс';}
.regime_part > span.dw6 {
    margin-right: 20px;
}
.regime_part select {
    width: 60px;
}
.regime_part .icon-plus-sign {
    cursor: pointer;
}
.regime_part .icon-minus-sign {
    cursor: pointer;
}
.hide_add .regime_part .icon-plus-sign {
    display: none;
}
.hide_remove .regime_part .icon-minus-sign {
    display: none;
}
.regime_part > em {
    display: inline-block;
    margin-right: 20px;
    border-bottom: 1px dotted #333;
    cursor: pointer;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
}
.t24 {
    margin-left: 150px;
}
.t24.disabled {
    color: #aaa;
    border-color: #aaa;
    cursor: not-allowed;
}